#galaxy-space-body {
  background-color: #00192D;
  -ms-overflow-x: hidden;
}

#galaxy-space-body main {
  position: absolute;
}

.container div,
.container img,
.container span,
.container button,
.container a,
.container ul,
.container li,
.container p {
  position: absolute;
}

.horizontal-center {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%,0%);
}

.container {
  background: url("https://d220xxmclrx033.cloudfront.net/event-space/img/space.png") no-repeat;
  background-size: contain;
  width: 1280px;
  height: 800px;
}

.container .user-status {
  left: 870px;
  top: 6px;
  height: 90px;
  width: 25%;
  color: azure;
  font-family: "微軟正黑體", fantasy;
  font-size: 18px;
}

.container .user-status .meteor1 {
  top: 0;
  left: 0;
  height: 45px
}

.container .user-status .meteor2 {
  left: 0;
  bottom: 0;
  height: 45px;
}

.container .user-status .name {
  left: 130px;
  top: 12px;
  width: 45%;
  cursor: pointer;
}

.container .user-status .student-card {
  left: 6%;
  top: 12px;
  width: 30%;
  cursor: pointer;
  z-index: 1;
}

.container .user-status .login {
  left: 6%;
  top: 12px;
  cursor: pointer;
  z-index: 1;
}

.container .user-status .phone-call {
  left: 6%;
  bottom: 2px;
  width: 100%;
}

.container .logo {
  width: 24%;
  left: 30px;
  top: 20px;
  z-index: 1;
  cursor: pointer;
}

.container .logo_375 {
  width: 13.4%;
  left: 29px;
  top: 21.5px;
  z-index: 1;
  cursor: pointer;
}

.container .logoFlag {
  width: 28%;
  left: 300px;
  top: 25px;
  transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg);
}

.container .activity:hover,
.container .bank:hover,
.container .my-class:hover,
.container .free:hover,
.container .fb:hover,
.container .line:hover {
  opacity: 0.6;
  cursor: pointer;
}

.container .activity {
  width: 10%;
  right: 550px;
  top: 105px;
}

.container .bank {
  width: 10%;
  right: 390px;
  top: 120px;
}

.container .my-class {
  width: 10%;
  right: 230px;
  top: 105px;
}

.container .free {
  width: 10%;
  right: 70px;
  top: 120px;
}

.container .fb {
  width: 4%;
  right: 5px;
  top: 35px;
  transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg);
}

.container .line {
  width: 4%;
  right: 5px;
  top: 110px;
  transform: rotate(8deg);
  -webkit-transform: rotate(8deg)
}

.container .event-text {
  top: 100px;
  left: 32px;
  width: 25%;
}

.container .total-assets {
  left: 50px;
  top: 210px;
  height: 65px;
  width: 410px;
}

.container .total-assets .display-coins {
  background: url("https://d220xxmclrx033.cloudfront.net/event-space/img/displayCoins.png") no-repeat;
  background-size: contain;
  height: 61px;
  width: 187px;
}

.container .total-assets .display-gems {
  top: 2px;
  right: 0;
  background: url("https://d220xxmclrx033.cloudfront.net/event-space/img/displayGems.png") no-repeat;
  background-size: contain;
  height: 57px;
  width: 184px;
}

.container .display-coins #coins,
.container .display-gems #gems {
  position: absolute;
  top: 50%;
  transform: translateY(-42%);
  -ms-transform: translateY(-42%);
  right: 13px;
  color: maroon;
  font-size: 25px;
  font-weight: bolder;
  font-family: "微軟正黑體", fantasy;
}

/* ============================================> iPad ============================================>*/

@media screen and (max-width: 1280px) {
  .container {
    width: 980px;
    z-index: 1;
  }

  .container .user-status {
    left: 660px;
    height: 80px;
    font-size: 16px;
  }

  .container .logo {
    width: 23%;
  }

  .container .logo_375 {
    width: 13%;
    left: 29px;
    top: 21px;
  }

  .container .logoFlag {
    width: 25%;
    left: 255px;
    top: 30px;
  }

  .container .fb {
    width: 4%;
    top: 20px;
  }

  .container .line {
    width: 4%;
    top: 80px;
  }

  .container .activity,
  .container .bank,
  .container .my-class,
  .container .free {
    width: 10%;
  }

  .container .activity {
    right: 420px;
  }

  .container .my-class {
    right: 180px;
  }

  .container .bank {
    right: 300px;
  }

  .container .total-assets {
    left: 50px;
    top: 190px;
    height: 50px;
    width: 370px;
  }

  .container .total-assets .display-coins {
    height: 50px;
    width: 155px;
  }

  .container .total-assets .display-gems {
    top: 2px;
    right: 20px;
    height: 50px;
    width: 154px;
  }

  .container .display-coins #coins,
  .container .display-gems #gems {
    font-size: 20px;
  }
}

/* ============================================> iPad ============================================>*/

/* ============================================> iPhone ============================================>*/

@media screen and (max-width: 800px) {
  .container {
    width: 375px;
  }

  .container .user-status {
    top: 4px;
    left: 170px;
    width: 47%;
    height: 60px;
    font-size: 13px;
  }

  .container .user-status .meteor1,
  .container .user-status .meteor2 {
    height: 37px;
  }

  .container .user-status .name {
    left: 88px;
  }

  .container .logo {
    display: none;
  }

  .container .logo_375 {
    width: 38%;
    left: 20px;
    top: 10px;
  }

  .container .logoFlag {
    width: 50%;
    left: 100px;
    top: 60px;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
  }

  .container .fb {
    top: 105px;
    left: 310px;
    width: 8%;
  }

  .container .line {
    top: 145px;
    width: 8%;
  }

  .container .bank,
  .container .my-class {
    width: 20%;
  }

  .container .activity {
    width: 23%;
    left: 30px;
    top: 120px;
    transform: rotate(8deg);
    -webkit-transform: rotate(8deg);
  }

  .container .bank {
    left: 130px;
    top: 130px;
    transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
  }

  .container .my-class {
    left: 220px;
    top: 120px;
  }

  .container .free {
    display: none;
  }

  .container .event-text {
    display: none;
  }

  .container .total-assets {
    left: 45px;
    top: 237px;
    height: 50px;
    width: 310px;
  }

  .container .total-assets .display-coins {
    height: 43px;
    width: 127px;
  }

  .container .total-assets .display-gems {
    top: 1px;
    right: 20px;
    height: 42px;
    width: 125px;
  }

  .container .display-coins #coins,
  .container .display-gems #gems {
    top: 49%;
    right: 7px;
    font-size: 17px;
  }
}

/* ============================================> iPhone ============================================>*/