doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(http-equiv="cache-control" content="no-cache")
        meta(http-equiv="pragma" content="no-cache")
        meta(http-equiv="expires" content="0")

        link(type='image/png', href='./img/magicImg/favicon.png', rel='icon')
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        link(href="./css/magic/activity-means.css" rel="stylesheet")
        title 活動辦法

    body
        section#section_title
            .container-fluid
                .row
                    .col-12
                        .title 雲端奇幻魔藥學活動辦法
                    .col-12
                        p 自從上次雲端銀河探險隊找到落腳之處後，有了當地魔法師們的幫忙，這片土地越來越繁榮了!在此同時，魔法師也要開始將魔法術一一的交給大家囉~即日起，只要你擁有翰林雲端學院帳號，就可以進入奇幻魔藥學上課，在調配藥水的過程中還可以獲得各式各樣的獎勵喔！
                    .col-12
                        .title_content 活動時間：即日起～贈品送完為止<br>活動辦法：在奇幻魔藥學開課期間，於翰林雲端學院系統中練習題目，賺取e幣(圖)、 寶石(圖)，並努力升級、調配藥水，即有機會獲得各種獎勵喔！

        section#section_part1
            .container-fluid
                .row
                    .col-12
                        .stitle 一、 活動期間內，練習自我評量、名師派卷、隨堂練習或英聽練習，就可以獲 得認真上課的獎勵：e幣(圖)、寶石(圖)、藥水(Lv1藥水圖)。每一天完成的 第一份達成40分(含)以上的試卷，將會發放每日登入獎勵20e幣(圖)，記得 每天都要來練習喔!為了正確檢測大家的能力，<span> 每一題題目只有在第一次 作答時才會給予獎勵，此外，自我評量及名師派卷必須達成40(分)含以上的加成條件！

        section#section_part2
            .container-fluid
                .row
                    .col-12
                        .stitle 二、 獲得足夠的獎勵後，就可以到魔藥學教室裡進行升級或調配藥水。每一個 等級的藥水都有對應的升級條件及調配時間，你可以依照你的需求及想要 的寶藏(詳見寶藏清單)選擇升級或調配藥水，獎勵只在Lv3以上的藥水 出現，越好的獎勵只有在越高級的藥水裡面出現喔！
                .row
                    .col-12
                        p ※ 如何升級藥水?
                    .col-12.upgrade_content
                        p 點選藥水下方的升級按鈕，<span>消耗指定數量的e幣、寶石就可以升級囉！
                    .col-12
                        p ※ 如何調配藥水?
                    .col-12.upgrade_content
                        p 點選藥水下方的調配按鈕，<span>等待指定的時間就可以調配完成。
                .row
                    .col-4.col-md-2
                        .row
                            .col-12
                                img(src="./img/magicImg/activityMeans/LV1_box.png", alt="Responsive image")
                            .col-12
                                .potion_time 1小時
                    .col-4.col-md-2
                        .row
                            .col-12
                                img(src="./img/magicImg/activityMeans/LV2_box.png", alt="Responsive image")
                            .col-12
                                .potion_time 2小時
                    .col-4.col-md-2
                        .row
                            .col-12
                                img(src="./img/magicImg/activityMeans/LV3_box.png", alt="Responsive image")
                            .col-12
                                .potion_time 4小時
                    .col-4.col-md-2
                        .row
                            .col-12
                                img(src="./img/magicImg/activityMeans/LV4_box.png", alt="Responsive image")
                            .col-12
                                .potion_time 8小時
                    .col-4.col-md-2
                        .row
                            .col-12
                                img(src="./img/magicImg/activityMeans/LV5_box.png", alt="Responsive image")
                            .col-12
                                .potion_time 16小時
                    .col-4.col-md-2
                        .row
                            .col-12
                                img(src="./img/magicImg/activityMeans/LV6_box.png", alt="Responsive image")
                            .col-12
                                .potion_time 24小時
                .row
                    .col-12.col-tac
                        p 為了讓你在這門課更加上手，我們施了一點小魔法讓等待的時間有一定比率的減少囉！
                .row
                    .col-12.col-tac
                        p 如果真的迫不及待想要知道會拿到什麼獎勵，那就用「立即開啟」鈕吧！強大的魔法會讓藥水馬上調配完成，但是要啟動這麼強大的魔法是需要一定數量的寶石唷！

        section#section_part3
            .container-fluid
                .row
                    .col-12
                        .stitle 三、終於將藥水調配完成了！但是要怎麼讓獎勵送到我手中呢？
                .row
                    .col-12
                        p Step1：於「我的寶藏」書中點選「領取贈品」按鈕<br>Step2：點選後，我們將會結算領取日當天這一段時間內你所獲得的 所有贈品，統整後依照不同規定請你填寫相關文件，詳情如下：
                .row
                    .col-12
                        .row
                            .col-6 獲得贈品單品之市價＜$1000元  
                            .col-6 僅需回填地址等基本資料
                    .col-12
                        .row
                            .col-6 獲得贈品單品之市價介於$1000-3000元
                            .col-6 7天內需回填線上得獎收據
                    .col-12
                        .row
                            .col-6 獲得贈品單品之市價＞3000元  
                            .col-6 7天內需回寄紙本收據
                .row
                    .col-12
                        p Step3：工作小組將於最終資料確認無誤後我們將於7天內寄出贈品
                .row
                    .col-12
                        p 小提醒：魔法師的小幫手很忙，每個人每個月只能免費為你服務一次，如果 在下個月來臨之前你想要再次領獎，就必須給他一點小酬勞喔！每次召喚魔法師小幫手的費用是5000e幣、500寶石。下個月的領獎時間將於各月份1號開放。另外，點選領獎後，但未於7天內提供資料，就只能延後到下一次領獎開放囉！
        section#section_part4
            .container-fluid
                .row
                    .col-12
                        .stitle 四、雲端奇幻魔藥學Q＆A
                    .col-12
                        .qa_content Q：我要怎麼獲得e幣、寶石和藥水呢？<br>A：練習自我評量、名師派卷或透過隨堂練習，都有機會獲得e幣和寶石。 每天登入做題，達成第一份40分(含)以上的自我評量，即可獲得20個e幣獎 勵!另外，當你開啟寶箱時也會獲得對應數量的e幣、寶石喔！
                    .col-12
                        .qa_content Q：我的銀行有無限的地方可以貯藏e幣、寶石和藥水嗎？<br>A：不行哦！根據魔法教授規定，你每天所能獲得的e幣數量為200枚，寶 石則為20枚(由藥水調配者不在此限)，而一次最多只能攜帶4個藥水在身上，必須將既有藥水調配完成後才能繼續獲得新的藥水。
                    .col-12
                        .qa_content Q：如果活動結束了，e幣和寶石還有剩怎麼辦？<br>A：不要擔心，e幣和寶石會一直留在你的帳戶不會歸零，未來會有更多用途哦！

        section#section_part5
            .container-fluid
                .row
                    .col-12
                        .stitle 五、其他注意事項
                    .col-12
                        .part5_content 1. 參加者於參加本活動之同時，即同意接受本活動之活動辦法與注意事項之規範，如有違反，得取消其參加或得獎資格。<br>2. 本活動限台灣地區會員參加，寄送地區僅限台灣地區。<br>3. 本活動代幣一經使用，不得要求更換、取消或退還。<br>4. 請依照規定領獎，如因註冊資料或表格資料填寫不實、有誤、無法辨識，或逾時未回覆者，將視同放棄，恕不補發。<br>5. 得獎者保證所有填寫或提出之資料均為真實且正確，且未冒用或盜用任何第三人之資料，如因此致翰林雲端學院無法通知其得獎訊息時，翰林雲端學院不負任何責任，且如有致損害於翰林雲端學院或其他任何第三人，參加者應負一切相關法律責任。<br>6. 填寫收據問題-1 依照中華民國所得稅法及其相關規定，競賽或機會中獎獎項價值超過 NT$1,000元以上者需做所得申報，獎項價值超過 NT$20,000元者(含)， 中獎人除所得申報外，尚須先繳納10%之稅金。稅金扣繳由翰林出版 事業股份有限公司代為處理後 於年度報稅時開立扣繳憑單予中獎者。 中獎者應先準備身分證正反面影本(如未滿20歲者請繳交戶口名簿影本 及法定代理人 身分證正反面影本)相關文件及稅金繳納證明予翰林雲 端學院，始得領取活動獎項。未提供領獎證明文件者，視同自動放棄 權益。<br>7. 填寫收據問題-2 依照中華民國稅法規定，中獎贈品或獎金價值3,000以下者，得免計入 申報所得稅，超過3,001 元者，中獎人於年度報稅時 必須計入個人所 得合併申報。應繳所得稅 = ( 全年所得淨額總額【含機會中獎】 × 稅 率 )- 累進差額-已扣繳稅額(含機會 中獎)配合以上稅法規定，因此 需要監護人填寫相關資料表示已確認同學有獲得此獎項，所有資料僅 供本公司查核報稅， 不會另作他途使用、請得獎者安心填寫。<br>8. 得獎者應於翰林雲端學院通知之期限內回覆確認領取獎品，並提供翰 林雲端學院所要求之完整領獎文件，逾期視為棄權。得獎者所提供之 身分證明文件如與參加本活動時所填寫之資料不符，翰林雲端學院得 要求得獎者提出相關證明文件，否則翰林雲端學院得取消其得獎資格。<br>9. 本活動獎項之領取方式概依翰林雲端學院所寄發或公佈之得獎通知上 所載為準。

        section#section_part6
            .container-fluid
                .row
                    .col-12
                        .stitle ▶個人資料告知事項◀
                    .col-12
                        .part5_content 1. 依據個人資料保護法(以下簡稱個資法)第八條第一項規定，向參與本活動之會員告知下列事項，請參與本活動於進行活動資料填寫前務必詳閱。<br>2. 蒐集個人資料公司:翰林教育科技股份有限公司(以下稱本公司)。<br>3. 蒐集目的:翰林雲端學院相關抽獎活動。<br>4. 個人資料之類別:學員之姓名、身分證字號、戶籍地址、聯絡電話、 獎勵寄送地址、聯絡Email，及其法定代理人之姓名、身分證字號、戶 籍地址、聯絡電話、聯絡Email。<br>5. 個人資料利用之期間、區域、對象及方式: 期間:個人資料蒐集之特定目的存續期間、依相關法令或契約約定之 保存期限，或本公司因執行業務所需之保存期限地區:本國 對象:本公司、本公司委託機關及執行本活動時之必要相關人員 方式:以自動化機器或其他非自動化之利用方式<br>6. 依據個資法第三條規定，本活動參與者了解，就其所提供之個人資料 得行使下列權利:您可依個人資料保護法的規定，就本公司所保有您 的個人資料向本公司行使查詢或閱覽、製給複製本、補充或更正、停 止蒐集處理或利用、刪除之權利，惟依法本公司因執行職務所必須者， 得不依本活動參與者請求為之。<br>7. 不提供個人資料所致權益之影響: 台端得自由選擇是否提供相關個人資料，惟台端若拒絕提供相關個人 資料，本公司將無法提供您蒐集目的所包含之完整服務或資訊，例如 提供獎品，致使台端權益受損。<br>8. 茲本人同意提供個人資料(姓名、身分證字號、連絡電話、行動電話、 連絡地址、連絡Email)予本公司，並同意得為活動參與、抽獎相關活 動、資料儲存與整理、郵寄、稅務等用途蒐集、處理及利用本人之個 人資料，利用之期間、地區、對象及方式均不受任何限制，並得委託 第三人為前述之行為<br>9. 本人了解就所提供之個人資料依法得行使查詢或請求閱覽、請求製給 複製本、請求補充或更正、請求停止蒐集、處理或利用以及請求刪除 等權利。

        <!-- Optional JavaScript -->
        
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js")