doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(http-equiv="cache-control" content="no-cache")
        meta(http-equiv="pragma" content="no-cache")
        meta(http-equiv="expires" content="0")

        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
        link(rel='icon', href='./img/magicImg/favicon.png', type='image/png')
        link(rel="stylesheet" href="./css/animate.css")
        link(rel="stylesheet" href="./css/style.css")
        title 雲端奇幻魔藥學

    body
        #section_titlelist
            .container-fluid
                .row
                    .col-3.elogo
                        img(src="")
                    .col-6.title
                        img(src="./img/magicImg/title.png",alt="Responsive image")
                    .col-3.person_info
                        .row.person_bg
                            .col-4
                            .col-8
                                .row
                                    .col-8
                                        .row
                                            .col-12.col-name
                                                .user_name 這是我的名字這是我的
                                            .col-12.col-coins
                                                .row
                                                    .col-6
                                                    .col-6
                                                        .row
                                                            .col-12
                                                                .ecoin 55555
                                                            .col-12
                                                                .diamond 55555
                                    .col-4
                                        .row
                                            .col-12.col-bank
                                                .bank
                                            .col-12.col-logout
                                                .logout
                                                    h3 登出
        #section_novice
            .container-fluid
                .row
                    .col-3
                    .col-6.potion_box
                        .row
                            .col-3
                                .col.potion_colum
                                    img(src="./img/magicImg/potion_colum.png",,alt="Responsive image")
                                .col.mix_upgrade
                                    .row
                                        .col-6.mix_btn
                                            img(src="./img/magicImg/mix_btn.png",,alt="Responsive image")
                                        .col-6.upgrade_btn
                                            img(src="./img/magicImg/upgrade_btn.png",,alt="Responsive image")
                            .col-3
                                .col.potion_colum
                                    img(src="./img/magicImg/potion_colum.png",,alt="Responsive image")
                                .col.now_finish
                                    img(src="./img/magicImg/now_finish_btn.png",,alt="Responsive image")
                            .col-3
                                .col.potion_colum
                                    img(src="./img/magicImg/potion_colum.png",,alt="Responsive image")
                                .col.mix_finish
                                    img(src="./img/magicImg/mix_finish_btn.png",,alt="Responsive image")
                            .col-3
                                .col.potion_colum
                                    img(src="./img/magicImg/potion_colum.png",,alt="Responsive image")
                                .col

                    .col-3


        #section_middle_part(style="display:none")
            .container-fluid
                .row
                    .col-3
                    .col-6.potion_box
                        .row
                            .col-3
                                .col.potion_colum
                                    img(src="./img/magicImg/potion_colum.png",,alt="Responsive image")
                                .col.mix_upgrade
                                    .row
                                        .col-6.mix_btn
                                            img(src="./img/magicImg/mix_btn.png",,alt="Responsive image")
                                        .col-6.upgrade_btn
                                            img(src="./img/magicImg/upgrade_btn.png",,alt="Responsive image")
                            .col-3
                                .col.potion_colum
                                    img(src="./img/magicImg/potion_colum.png",,alt="Responsive image")
                                .col.now_finish
                                    img(src="./img/magicImg/now_finish_btn.png",,alt="Responsive image")
                            .col-3
                                .col.potion_colum
                                    img(src="./img/magicImg/potion_colum.png",,alt="Responsive image")
                                .col.mix_finish
                                    img(src="./img/magicImg/mix_finish_btn.png",,alt="Responsive image")
                            .col-3
                                .col.potion_colum
                                    img(src="./img/magicImg/potion_colum.png",,alt="Responsive image")
                                .col

                    .col-3


        <!-- Optional JavaScript -->

        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="./js/wow.min.js")
        script(src="./js/index.js")
        
    
