doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible",content="IE=9;IE=10;IE=Edge,chrome=1")
        meta(http-equiv="cache-control" content="no-store")
        meta(http-equiv="pragma" content="no-cache")
        meta(http-equiv="expires" content="0")

        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
        link(type='image/png', href='./img/magicImg/favicon.png', rel='icon')

        link(href="./css/lib/sweetalert2.min.css" rel="stylesheet")
        link(href="./css/lib/animate.min.css" rel="stylesheet")
        link(href="./css/lib/bootstrap-slider.min.css" rel="stylesheet")
        link(href="./css/main/for-ie11.css" rel="stylesheet")
        link(href="./css/main/style.css?appVersion=20181191443" rel="stylesheet")
        link(href="./css/main/loading.css?" rel="stylesheet")
        link(href="./css/grid-rank-popup/event-grid-rank-popup.css?appVersion=20181191443" rel="stylesheet")
        <!-- build:css -->
        link(href="./css/magic/event-chest.css" rel="stylesheet")
        link(href="./css/magic/event-awards-treasure.css" rel="stylesheet")
        link(href="./css/magic/event-confirm-popup.css" rel="stylesheet")
        link(href="./css/magic/event-grid-img-popup.css" rel="stylesheet")
        link(href="./css/magic/event-grid-upgrade-popup.css" rel="stylesheet")
        link(href="./css/magic/event-grid-inception-popup.css" rel="stylesheet")
        link(href="./css/magic/event-grid-academy-popup.css" rel="stylesheet")
        link(href="./css/magic/event-loading.css" rel="stylesheet")
        link(href="./css/magic/event-bonus-popup.css" rel="stylesheet")
        link(href="./css/magic/event-drop-down.css" rel="stylesheet")
        //link(href="./css/magic/event-speaker.css" rel="stylesheet")
        <!-- endbuild -->
        title 翰林童話鎮保衛戰
    body
        audio#audio_background_melody(src="./audio/background-melody-fairytale.mp3" autoplay loop)
        audio#audio_button(src="./audio/button.mp3")
        audio#audio_level_up(src="./audio/level-up.mp3")
        audio#audio_open_award_event(src="./audio/open-award-event.mp3")

        section#bonus-popup

        #remind-mask(style="display:none; font-size:50px")
           .center
                span 建議您
                span 為了提供最佳網頁體驗
                span 請將螢幕調整為
                span 「橫向顯示」哦！

        #loading-mask(style="display:none;")
            .loading

        #section_titlelist
            .container-fluid
                .row
                    .col-4.col-xs-4.col-sm-4.col-lg-3.elogo
                        a(href="https://www.ehanlin.com.tw/index.html")
                            img(src="./img/fairytaleImg/elogo.png")
                    .col-4.col-xs-4.col-sm-4.col-lg-6.title
                        img(src="./img/fairytaleImg/title.png")
                    .col-4.col-xs-4.col-sm-4.col-lg-3.person_info
                        .row.person_bg
                            #badge.col-4
                                
                            .col-8
                                .row
                                    .col-8
                                        .row
                                            .col-12.col-name
                                                .user_name 

                                            .col-12.col-coins
                                                .row
                                                    .col-6
                                                    .col-6
                                                        .row
                                                            .col-12
                                                                #ecoin 
                                                            .col-12
                                                                #diamond 
                                    .col-4
                                        .row
                                            .col-12.col-bank
                                                .bank
                                                    img(src="./img/magicImg/bank.png")
                                            .col-12.col-logout
                                                img.logout(src="./img/magicImg/logout.png")
                                            .col-12.col-login(style="display:none")
                                                img.login(src="./img/magicImg/login.png")

        main#section_middle_part(style="display:none")
            .container-fluid
                .row
                    .col-3.gift_list
                        .mirror
                            img(src="./img/fairytaleImg/mirror.png") 
                            .previous_btn
                                img(src="./img/fairytaleImg/arrow-l.png")     
                            .next_btn
                                img(src="./img/fairytaleImg/arrow-r.png")
                            .row_gift_content
                                .gift_photos
                                    //img(src="./img/award/award24.png", alt="")
                                .title-row
                                    //.award_title 樂事雞汁洋芋片兌換券樂事雞汁洋芋片兌換券
                                .row_stitle
                                    .award_stitle 所在等級：
                                    .award_scontnet
                                        //.award_level LV5,6,7,8
                                .row_stitle
                                    .award_stitle 庫存：
                                    .award_scontnet_sec
                                        //.award_stock 還有貨哦
                                .notice
                                    //.award_note 1.本商品券僅限兌換一次<br>2.使用期限及說明請見得獎信件

                    .col-6.potion_box
                        .row
                            .col-3.GREEN
                                .col.potion_colum
                                    //img(src="./img/magicImg/potion_colum.png")
                                    .potion.platform-GREEN
                                        //img(src="./img/fairytaleImg/LV1.png")
                                    .count_time

                                .col.mix_upgrade
                                    .row
                                        .col-6.mix_btn(style="display:none")
                                            img(src="./img/magicImg/mix_btn.png")
                                        .col-6.upgrade_btn(style="display:none")
                                            img(src="./img/magicImg/upgrade_btn.png")

                                .col.now_finish(style="display:none")
                                    img(src="./img/magicImg/now_finish_btn.png")

                                .col.mix_finish(style="display:none")
                                    img(src="./img/magicImg/mix_finish_btn.png")

                            .col-3.RED
                                .col.potion_colum
                                    //img(src="./img/magicImg/potion_colum.png")
                                    .potion.platform-RED
                                        //img(src="./img/fairytaleImg/LV1.png")
                                    .count_time
                                
                                .col.mix_upgrade
                                    .row
                                        .col-6.mix_btn(style="display:none")
                                            img(src="./img/magicImg/mix_btn.png")
                                        .col-6.upgrade_btn(style="display:none")
                                            img(src="./img/magicImg/upgrade_btn.png")

                                .col.now_finish(style="display:none")
                                    img(src="./img/magicImg/now_finish_btn.png")

                                .col.mix_finish(style="display:none")
                                    img(src="./img/magicImg/mix_finish_btn.png")

                            .col-3.BROWN
                                .col.potion_colum
                                    //img(src="./img/magicImg/potion_colum.png")
                                    .potion.platform-BROWN
                                        //img(src="./img/fairytaleImg/LV1.png")
                                    .count_time

                                .col.mix_upgrade
                                    .row
                                        .col-6.mix_btn(style="display:none")
                                            img(src="./img/magicImg/mix_btn.png")
                                        .col-6.upgrade_btn(style="display:none")
                                            img(src="./img/magicImg/upgrade_btn.png")

                                .col.now_finish(style="display:none")
                                    img(src="./img/magicImg/now_finish_btn.png")

                                .col.mix_finish(style="display:none")
                                    img(src="./img/magicImg/mix_finish_btn.png")

                            .col-3.PINK
                                .col.potion_colum
                                    //img(src="./img/magicImg/potion_colum.png")
                                    .potion.platform-PINK
                                        //img(src="./img/fairytaleImg/LV1.png")
                                    .count_time
                                
                                .col.mix_upgrade
                                    .row
                                        .col-6.mix_btn(style="display:none")
                                            img(src="./img/magicImg/mix_btn.png")
                                        .col-6.upgrade_btn(style="display:none")
                                            img(src="./img/magicImg/upgrade_btn.png")

                                .col.now_finish(style="display:none")
                                    img(src="./img/magicImg/now_finish_btn.png")

                                .col.mix_finish(style="display:none")
                                    img(src="./img/magicImg/mix_finish_btn.png")
                    .menu
                        a(href="https://www.ehanlin.com.tw/my/owned/Courses.html")
                            img(src="./img/magicImg/menu_btn01.png")
                        a(href="activity-means.html")
                            img(src="./img/magicImg/menu_btn02.png")
                        a(href="https://www.ehanlin.com.tw/type/TRIAL/SalesPlans.html")
                            img(src="./img/magicImg/menu_btn03.png")
                        a(href="https://www.ehanlin.com.tw/event/line/")
                            img(src="./img/magicImg/menu_btn04.png")

        section#section_novice(style="display:none")
            .container-fluid
                .row
                    .col-3.gift_list
                        .mirror
                            img(src="./img/fairytaleImg/mirror.png") 
                            .previous_btn
                                img(src="./img/fairytaleImg/arrow-l.png")     
                            .next_btn
                                img(src="./img/fairytaleImg/arrow-r.png")
                            .row.row_gift_content
                                //.gift_photos
                                    img(src="./img/award/award24.png", alt="")
                                .title-row
                                    //.award_title 樂事雞汁洋芋片兌換券樂事雞汁洋芋片兌換券
                                .row_stitle
                                    .award_stitle 所在等級：
                                    .award_scontnet
                                        //.award_level LV5,6,7,8
                                .row_stitle
                                    .award_stitle 庫存：
                                    .award_scontnet_sec
                                        //.award_stock 還有貨哦
                                .notice
                                    //.award_note 1.本商品券僅限兌換一次<br>2.使用期限及說明請見得獎信件

                    .col-6.potion_box
                        .row
                            .col-3.GREEN
                                .col.potion_colum
                                    //img(src="./img/magicImg/potion_colum.png")
                                    .potion.platform-GREEN
                                        //img(src="./img/fairytaleImg/LV1.png")
                                    .count_time

                                .col.mix_upgrade
                                    .row
                                        .col-6.mix_btn(style="display:none")
                                            img(src="./img/magicImg/mix_btn.png")
                                        .col-6.upgrade_btn(style="display:none")
                                            img(src="./img/magicImg/upgrade_btn.png")

                                .col.now_finish(style="display:none")
                                    img(src="./img/magicImg/now_finish_btn.png")

                                .col.mix_finish(style="display:none")
                                    img(src="./img/magicImg/mix_finish_btn.png")

                            .col-3
                                .col.potion_colum
                                    //img(src="./img/magicImg/potion_colum.png")
                                    .potion
                                        //img(src="./img/fairytaleImg/LV1.png")

                            .col-3
                                .col.potion_colum
                                    //img(src="./img/magicImg/potion_colum.png")
                                    .potion
                                        //img(src="./img/fairytaleImg/LV1.png")

                            .col-3
                                .col.potion_colum
                                    //img(src="./img/magicImg/potion_colum.png")
                                    .potion
                                        //img(src="./img/fairytaleImg/LV1.png")
                    .menu
                        a(href="https://www.ehanlin.com.tw/my/owned/Courses.html")
                            img(src="./img/magicImg/menu_btn01.png")
                        a(href="activity-means.html")
                            img(src="./img/magicImg/menu_btn02.png")
                        a(href="https://www.ehanlin.com.tw/type/TRIAL/SalesPlans.html")
                            img(src="./img/magicImg/menu_btn03.png")
                        a(href="https://www.ehanlin.com.tw/event/line/")
                            img(src="./img/magicImg/menu_btn04.png")

        //- #near_activity
        //-     .cat
        //-         img(src="./img/magicImg/cat.png")
        //-         .cat_title 近期<br>活動

        
        #my_treasure
            .book
                img(src="./img/fairytaleImg/book.png")

        #speaker
            .speaker-field
                h3 音量調整：
                a.speaker.mute 
                    //img.speak-img(src="./img/fairytaleImg/speaker.svg", alt="")
                    //img.mute-img(style="display:none",src="./img/fairytaleImg/mute.svg", alt="")

        #power_rank
            .hat
                img(src="./img/fairytaleImg/rank.png")
        
        //- #sound_bar
        //-     .slider
        //-         input(id="sliderBar" data-slider-max="100" data-slider-min="0" data-slider-orientation="vertical" data-slider-step="1" data-slider-value="50" type="text")
        
        //- span(id="CurrentSliderValLabel") 音量：
        //-     span(id="SliderVal") 50

        .tree
            img(src="./img/fairytaleImg/tree.png", alt="")


        .function_description(style="display:none")
            .finish_novice_btn 完成教學
            //.explain_gift
            .content_gift 這裡是這次的寶藏清單，<br>可能會有特別獎勵喔！<br>請隨時關注！
            //.explain_cat
            .content_cat 魔法師不定時的重要公告、活動資訊請杜瑞絲貓夫人幫忙傳達，要多多照顧她喔!
            //.explain_treasure
            .content_treasure 這裡記錄了你獲得寶藏的紀錄同時也可以透過這本書告訴魔法師你家的地址讓貓頭鷹把寶藏寄給你喔!
            //.explain_person_info
            .content_person_info 這裡可以確認你目前資產，<br>雲端銀行可以觀看所有歷程

        #login_dialog(style="display:none")
            .login_potion_box
                .row
                    .col-3
                        img(src="./img/fairytaleImg/now-crystal.png")
                    .col-3
                        img(src="./img/fairytaleImg/now-count.png")
                    .col-3
                        a(href="https://www.ehanlin.com.tw/Users/register.html?redirect=/app/magic/")
                            img(src="./img/magicImg/now_signup.png")
                    .col-3
                        a(href="https://www.ehanlin.com.tw/Users/login.html?redirect=/app/magic/")
                            img(src="./img/magicImg/now_login.png")
                .row.row_nothanks_btn
                    .col-12
                        img.nothanks_btn(src="./img/magicImg/nothanks_btn.png")
            .login_magic_logo
            .login_ehanlin
        svg(xmlns="http://www.w3.org/2000/svg" style="display:none")
            filter(id="silhouette")
                feColorMatrix(type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 -0.4 0.2 0 1 0")

        script(src="https://cdn.polyfill.io/v2/polyfill.min.js?appVersion=201811121129")
        script(data-main="./js/magic/main" src="./js/lib/require.js?appVersion=201811121129")
        // Google Tag Manager
        script(type='text/javascript').
          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-MXQFNDH');

        // GA and FBPixel
        script(src="https://d220xxmclrx033.cloudfront.net/common_webcomponent/current.SNAPSHOT/js/ehanlin-social.js?appVersion=201811121129")

