doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width") 
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(http-equiv="cache-control" content="no-cache")
        meta(http-equiv="pragma" content="no-cache")
        meta(http-equiv="expires" content="0")

        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
        link(type='image/png', href='./img/magicImg/favicon.png', rel='icon')

        link(href="./css/lib/animate.min.css" rel="stylesheet")
        link(href="./css/lib/sweetalert2.min.css" rel="stylesheet")
        <!-- build:css -->
        link(href="./css/magic/style.css" rel="stylesheet")
        //link(href="./css/magic/event-main.css" rel="stylesheet")
        link(href="./css/magic/event-chest.css" rel="stylesheet")
        link(href="./css/magic/event-award.css" rel="stylesheet")
        link(href="./css/magic/event-confirm-popup.css" rel="stylesheet")
        link(href="./css/magic/event-grid-gif-img-popup.css" rel="stylesheet")
        link(href="./css/magic/event-grid-upgrade-popup.css" rel="stylesheet")
        link(href="./css/magic/event-grid-start-popup.css" rel="stylesheet")
        link(href="./css/magic/event-grid-open-popup.css" rel="stylesheet")
        link(href="./css/magic/event-grid-academy-popup.css" rel="stylesheet")
        link(href="./css/magic/event-loading.css" rel="stylesheet")
        link(href="./css/magic/event-bonus-popup.css" rel="stylesheet")
        link(href="./css/magic/event-drop-down.css" rel="stylesheet")
        link(href="./css/magic/event-award-are-zero.css" rel="stylesheet")
        <!-- endbuild -->
        title 雲端奇幻魔藥學
    body
        #section_titlelist
            .container-fluid
                .row
                    .col-4.col-xs-4.col-sm-4.col-lg-3.elogo
                        a(href="https://www.ehanlin.com.tw/index.html")
                            img(src="./img/magicImg/elogo.png")
                    .col-4.col-xs-4.col-sm-4.col-lg-6.title
                        img(src="./img/magicImg/title.png")
                    .col-4.col-xs-4.col-sm-4.col-lg-3.person_info
                        .row.person_bg
                            .col-4
                                img(src="./img/magicImg/badge_rabbit.png")
                            .col-8
                                .row
                                    .col-8
                                        .row
                                            .col-12.col-name
                                                .user_name 這是我的名字這是我的
                                            .col-12.col-coins
                                                .row
                                                    .col-6
                                                    .col-6
                                                        .row
                                                            .col-12
                                                                #ecoin 
                                                            .col-12
                                                                #diamond 
                                    .col-4
                                        .row
                                            .col-12.col-bank
                                                .bank
                                                    a(href="https://www.ehanlin.com.tw/index.html")
                                                        img(src="./img/magicImg/bank.png")
                                            .col-12.col-logout
                                                img.logout(src="./img/magicImg/logout.png")
                                            .col-12.col-login(style="display:none")
                                                img.login(src="./img/magicImg/login.png")

        #section_middle_part(style="display:none")
            .container-fluid
                .row
                    .col-3.gift_list
                        .row.row_gift_pic
                            .col-3.col-sm-4.col-lg-3.previous_btn
                                img(src="./img/magicImg/previous.svg")
                            .col-6.col-sm-4.col-lg-6
                            .col-3.col-sm-4.col-lg-3.next_btn
                                img(src="./img/magicImg/next.svg")
                        .row.row_gift_content
                            .col-12.title
                                //- .award_title 樂事雞汁洋芋片兌換券
                            .col-7.award_stitle 所在等級：
                            .col-5.award_scontnet
                                //- .award_level D
                            .col-5.award_stitle 庫存：
                            .col-7.award_scontnet
                                //- .award_stock 還有貨哦
                            .col-12.notice
                                //- .award_note 1.本商品券僅限兌換一次<br>2.使用期限及說明請見得獎信件

                    .col-6.potion_box
                        .row
                            .col-3.GREEN
                                .col.potion_colum
                                    img(src="./img/magicImg/potion_colum.png")
                                    .potion.platform-GREEN
                                    .count_time

                                .col.mix_upgrade
                                    .row
                                        .col-6.mix_btn(style="display:none")
                                            img(src="./img/magicImg/mix_btn.png")
                                        .col-6.upgrade_btn(style="display:none")
                                            img(src="./img/magicImg/upgrade_btn.png")

                                .col.now_finish(style="display:none")
                                    img(src="./img/magicImg/now_finish_btn.png")

                                .col.mix_finish(style="display:none")
                                    img(src="./img/magicImg/mix_finish_btn.png")


                            .col-3.RED
                                .col.potion_colum
                                    img(src="./img/magicImg/potion_colum.png")
                                    .potion.platform-RED
                                    .count_time

                                .col.mix_upgrade
                                    .row
                                        .col-6.mix_btn(style="display:none")
                                            img(src="./img/magicImg/mix_btn.png")
                                        .col-6.upgrade_btn(style="display:none")
                                            img(src="./img/magicImg/upgrade_btn.png")

                                .col.now_finish(style="display:none")
                                    img(src="./img/magicImg/now_finish_btn.png")

                                .col.mix_finish(style="display:none")
                                    img(src="./img/magicImg/mix_finish_btn.png")


                            .col-3.BROWN
                                .col.potion_colum
                                    img(src="./img/magicImg/potion_colum.png")
                                    .potion.platform-BROWN
                                    .count_time

                                .col.mix_upgrade
                                    .row
                                        .col-6.mix_btn(style="display:none")
                                            img(src="./img/magicImg/mix_btn.png")
                                        .col-6.upgrade_btn(style="display:none")
                                            img(src="./img/magicImg/upgrade_btn.png")

                                .col.now_finish(style="display:none")
                                    img(src="./img/magicImg/now_finish_btn.png")

                                .col.mix_finish(style="display:none")
                                    img(src="./img/magicImg/mix_finish_btn.png")

                            .col-3.PINK
                                .col.potion_colum
                                    img(src="./img/magicImg/potion_colum.png")
                                    .potion.platform-PINK
                                        img(src="./img/magicImg/LV2.png")
                                    .count_time

                                .col.mix_upgrade
                                    .row
                                        .col-6.mix_btn(style="display:none")
                                            img(src="./img/magicImg/mix_btn.png")
                                        .col-6.upgrade_btn(style="display:none")
                                            img(src="./img/magicImg/upgrade_btn.png")

                                .col.now_finish(style="display:none")
                                    img(src="./img/magicImg/now_finish_btn.png")

                                .col.mix_finish(style="display:none")
                                    img(src="./img/magicImg/mix_finish_btn.png")

                    .col-3.menu
                        a(href="https://www.ehanlin.com.tw/my/owned/Courses.html")
                            img(src="./img/magicImg/menu_btn01.png", alt="Responsive image")
                        a(href="")
                            img(src="./img/magicImg/menu_btn02.png", alt="Responsive image")
                        a(href="https://www.ehanlin.com.tw/type/TRIAL/SalesPlans.html")
                            img(src="./img/magicImg/menu_btn03.png", alt="Responsive image")
                        a(href="https://www.ehanlin.com.tw/event/line/")
                            img(src="./img/magicImg/menu_btn04.png", alt="Responsive image")

        #section_novice(style="display:none")
            .container-fluid
                .row
                    .col-3
                    .col-6.potion_box
                        .row
                            .col-3.GREEN
                                .col.potion_colum
                                    img(src="./img/magicImg/potion_colum.png")
                                    .potion.platform-GREEN
                                    .count_time
                                    .col.mix_upgrade
                                        .row
                                            .col-6.mix_btn(style="display:none")
                                                img(src="./img/magicImg/mix_btn.png")
                                            .col-6.upgrade_btn(style="display:none")
                                                img(src="./img/magicImg/upgrade_btn.png")

                                    .col.now_finish(style="display:none")
                                        img(src="./img/magicImg/now_finish_btn.png")

                                    .col.mix_finish(style="display:none")
                                        img(src="./img/magicImg/mix_finish_btn.png")

                            .col-3
                                .col.potion_colum
                                    img(src="./img/magicImg/potion_colum.png")
                                    .potion

                            .col-3
                                .col.potion_colum
                                    img(src="./img/magicImg/potion_colum.png")
                                    .potion

                            .col-3
                                .col.potion_colum
                                    img(src="./img/magicImg/potion_colum.png")
                                    .potion
                    .col-3.menu
                        a(href="")
                            img(src="./img/magicImg/menu_btn01.png", alt="Responsive image")
                        a(href="")
                            img(src="./img/magicImg/menu_btn02.png", alt="Responsive image")
                        a(href="")
                            img(src="./img/magicImg/menu_btn03.png", alt="Responsive image")
                        a(href="")
                            img(src="./img/magicImg/menu_btn04.png", alt="Responsive image")

        #near_activity
            .cat
                img(src="./img/magicImg/cat.png")
                .cat_title 近期<br>活動
        
        #my_treasure
            .book
                img(src="./img/magicImg/book.png")
                .book_title 我的<br>寶藏

        .function_description(style="display:none")
            .finish_novice_btn 完成教學
            .explain_gift
            .content_gift 這裡是這次的寶藏清單，<br>可能會有特別獎勵喔！<br>請隨時關注！
            .explain_cat
            .content_cat 魔法師不定時的重要公告、活動資訊請杜瑞絲貓夫人幫忙傳達，要多多照顧她喔!
            .explain_treasure
            .content_treasure 這裡記錄了你獲得寶藏的紀錄同時也可以透過這本書告訴魔法師你家的地址讓貓頭鷹把寶藏寄給你喔!
            .explain_person_info
            .content_person_info 這裡可以確認你目前資產，<br>雲端銀行可以觀看所有歷程

        #login_dialog(style="display:none")
            .login_potion_box
                .row
                    .col-3
                        img(src="./img/magicImg/now_potion.png")
                    .col-3
                        img(src="./img/magicImg/now_count_potion.png")
                    .col-3
                        a(href="https://www.ehanlin.com.tw/Users/register.html")
                            img(src="./img/magicImg/now_signup.png")
                    .col-3
                        a(href="https://www.ehanlin.com.tw/Users/login.html")
                            img(src="./img/magicImg/now_login.png")
                .row.row_nothanks_btn
                    .col-12
                        img.nothanks_btn(src="./img/magicImg/nothanks_btn.png")

        svg(xmlns="http://www.w3.org/2000/svg" style="display:none")
            filter(id="silhouette")
                feColorMatrix(type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 -0.4 0.2 0 1 0")

        //script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        //script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
        //script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
        //script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(data-main="./js/magic/main" src="./js/lib/require.js")
        //script(src="./js/index.js")