html {
  width: 100%; }

body {
  background-image: url("../../img/magicImg/activityMeans/background.png");
  background-size: contain; }

* {
  border: .5px solid #000;
  letter-spacing: 1px;
  color: #422700;
  font-size: 14px; }

section#section_title .container-fluid .row .col-12 .title {
  border: 3px solid #422700;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin: 0;
  margin: 10px;
  font-size: 24px;
  font-weight: 700;
  padding: 5px 0px; }

section#section_title .container-fluid .row .col-12 p {
  font-size: 12px;
  line-height: 18px; }

section#section_title .container-fluid .row .col-12 .title_content {
  font-size: 15px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  color: #9b551b; }

section#section_part1 .container-fluid .row .col-12 {
  padding-bottom: 15px; }
  section#section_part1 .container-fluid .row .col-12 span {
    color: #ff1414; }

section#section_part2 .container-fluid .row .stitle {
  margin-bottom: 15px; }

section#section_part2 .container-fluid .row .upgrade_content {
  padding: 0px 35px; }
  section#section_part2 .container-fluid .row .upgrade_content span {
    color: #ff1414; }

section#section_part2 .container-fluid .row .col-4 .row {
  margin-bottom: 15px; }
  section#section_part2 .container-fluid .row .col-4 .row .col-12 {
    display: flex;
    justify-content: center;
    align-items: center; }
    section#section_part2 .container-fluid .row .col-4 .row .col-12 img {
      width: 90%;
      height: auto; }
    section#section_part2 .container-fluid .row .col-4 .row .col-12 .potion_time {
      border-radius: 15px;
      border: 2px solid #422700;
      padding: 2px 12px;
      margin: 5px 0px;
      background-color: #fff; }

section#section_part2 .container-fluid .row .col-tac {
  text-align: center; }

section#section_part3 .container-fluid .row .col-12 .stitle {
  margin-bottom: 15px; }

section#section_part3 .container-fluid .row .col-12 p {
  font-size: 12px; }

section#section_part3 .container-fluid .row .col-12 .row {
  padding: 0px 15px;
  margin-bottom: 10px; }
  section#section_part3 .container-fluid .row .col-12 .row .col-6 {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #422700;
    font-size: 12px;
    padding: 0px 5px; }

section#section_part4 .container-fluid .row .col-12 .stitle {
  margin-bottom: 15px; }

section#section_part4 .container-fluid .row .col-12 .qa_content {
  margin-bottom: 15px; }

section#section_part5 .container-fluid .row .col-12 .stitle {
  margin-bottom: 15px; }

section#section_part5 .container-fluid .row .col-12 .part5_content {
  font-size: 12px;
  margin-bottom: 15px; }

section#section_part6 .container-fluid .row .col-12 .stitle {
  margin-bottom: 15px; }

section#section_part6 .container-fluid .row .col-12 .part5_content {
  font-size: 12px;
  margin-bottom: 25px; }

@media screen and (min-width: 768px) {
  * {
    font-size: 18px; }
  section#section_title {
    padding: 0px 10%; }
    section#section_title .container-fluid .row .col-12 .title {
      border: 3px solid #422700;
      border-radius: 30px;
      background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      margin: 0;
      margin: 20px 15%;
      font-size: 32px;
      font-weight: 700;
      padding: 5px 0px; }
    section#section_title .container-fluid .row .col-12 p {
      font-size: 15px;
      line-height: 22px; }
    section#section_title .container-fluid .row .col-12 .title_content {
      border-radius: 10px;
      font-size: 18px;
      margin-bottom: 25px;
      background-color: rgba(255, 255, 255, 0.5);
      padding: 15px;
      color: #9b551b; }
  section#section_part1 {
    padding: 0 10%; }
    section#section_part1 .container-fluid .row .col-12 {
      padding-bottom: 15px; }
      section#section_part1 .container-fluid .row .col-12 span {
        color: #ff1414; }
  section#section_part2 {
    padding: 0px 10%; }
    section#section_part2 .container-fluid .row .stitle {
      margin-bottom: 15px; }
    section#section_part2 .container-fluid .row .upgrade_content {
      padding: 0px 35px; }
      section#section_part2 .container-fluid .row .upgrade_content span {
        color: #ff1414; }
    section#section_part2 .container-fluid .row .col-4 .row {
      margin-bottom: 15px; }
      section#section_part2 .container-fluid .row .col-4 .row .col-12 {
        display: flex;
        justify-content: center;
        align-items: center; }
        section#section_part2 .container-fluid .row .col-4 .row .col-12 img {
          width: 90%;
          height: auto; }
        section#section_part2 .container-fluid .row .col-4 .row .col-12 .potion_time {
          border-radius: 15px;
          border: 2px solid #422700;
          padding: 2px 12px;
          margin: 5px 0px;
          background-color: #fff; }
    section#section_part2 .container-fluid .row .col-tac {
      text-align: center; }
  section#section_part3 .container-fluid .row .col-12 .stitle {
    margin-bottom: 15px; }
  section#section_part3 .container-fluid .row .col-12 p {
    font-size: 12px; }
  section#section_part3 .container-fluid .row .col-12 .row {
    padding: 0px 15px;
    margin-bottom: 10px; }
    section#section_part3 .container-fluid .row .col-12 .row .col-6 {
      background-color: rgba(255, 255, 255, 0.7);
      border: 1px solid #422700;
      font-size: 12px;
      padding: 0px 5px; }
  section#section_part4 .container-fluid .row .col-12 .stitle {
    margin-bottom: 15px; }
  section#section_part4 .container-fluid .row .col-12 .qa_content {
    margin-bottom: 15px; }
  section#section_part5 .container-fluid .row .col-12 .stitle {
    margin-bottom: 15px; }
  section#section_part5 .container-fluid .row .col-12 .part5_content {
    font-size: 12px;
    margin-bottom: 15px; } }
