#bonus-popup {
  position: absolute;
  background-size: contain;
  height: 650px;
  width: 650px;
  z-index: 1700;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}

#bonus-popup .forward-anchor {
  cursor: pointer;
  position: absolute;
  bottom: -1.5%;
  width: 220px;
}

#bonus-popup .forward-event {
  left: 10%;
}

#bonus-popup .forward-course {
  right: 10%;
}

@media screen and (max-width: 700px) {
  #bonus-popup {
    height: 500px;
    width: 500px;
    top: 100px;
  }

  #bonus-popup .forward-anchor {
    width: 160px;
  }
}

@media screen and (max-width: 500px) {
  #bonus-popup {
    height: 300px;
    width: 300px;
    top: 100px;
  }

  #bonus-popup .forward-anchor {
    width: 120px;
  }
}