.confirm-popup-academy-height {
  height: 500px;
}

.confirm-grid-academy-container {
  height: 435px;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  font-size: 17px;
}

.confirm-grid-academy-container article:nth-child(1) {
  -ms-grid-column: 1;
}

.confirm-grid-academy-container article:nth-child(2) {
  -ms-grid-column: 2;
}

.confirm-grid-academy-container article:nth-child(3) {
  -ms-grid-column: 3;
}

.confirm-grid-academy-container article:nth-child(4) {
  -ms-grid-column: 4;
}

.confirm-grid-academy-container .academy {
  padding: 0 10%;
  margin-bottom: 20px;
}

.confirm-grid-academy-container .academy img {
  width: 150px;
}

.confirm-grid-academy-container .academy p.left-align {
  text-align: left;
}

@media screen and (max-width: 580px) {
  .confirm-popup-academy-height {
    height: 300px;
  }

  .confirm-grid-academy-container {
    height: 280px;
    grid-gap: 0;
    font-size: 12px;
  }

  .confirm-grid-academy-container .academy {
    padding: 0;
    margin-bottom: 5px;
  }

  .confirm-grid-academy-container .academy p {
    line-height: 18px;
  }

  .confirm-grid-academy-container .academy img {
    width: 80px;
  }
}