.confirm-grid-img-container {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 20% 60% 20%;
  -ms-grid-columns: 20% 60% 20%;
  grid-template-rows: 15% 20% 65%;
  -ms-grid-rows: 15% 20% 65%;
  font-size: 25px;
  font-weight: normal;
  height: 180px;
  grid-gap: 3px;
}

.confirm-grid-img-container .content-block1 {
  grid-column: 2;
  -ms-grid-column: 2;
  grid-row: 1;
  -ms-grid-row: 1;
}

.confirm-grid-img-container .content-block2 {
  grid-column: 2;
  -ms-grid-column: 2;
  grid-row: 2;
  -ms-grid-row: 2;
}

.confirm-grid-img-container .content-block3 {
  grid-column: 2;
  -ms-grid-column: 2;
  grid-row: 3;
  -ms-grid-row: 3;
}


.confirm-grid-img-container.open-award .gems-img,
.confirm-grid-img-container.open-award .coins-img {
  width: 30px;
  height: 30px;
}

.confirm-grid-img-container.open-award .open-award-gift {
  height: 150px;
}

@media screen and (max-width: 550px) {
  .confirm-grid-img-container .header-block1 {
    font-size: 20px;
  }
}