.confirm-popup-default-height {
  height: 270px
}

.confirm-popup-mini-height {
  height: 220px
}

.confirm-popup-middle-height {
  height: 320px;
}

.confirm-popup-large-height {
  height: 435px;
}

.confirm-popup-common-img-small {
  height: 130px;
}

.confirm-popup-title-font {
  color: white;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0 1px 3px rgba(127, 57, 59, 0.8);
}

.confirm-popup-small-font {
  font-size: 16px;
}

@media screen and (max-width: 580px) {
  .confirm-popup-default-height {
    height: 250px
  }

  .confirm-popup-mini-height {
    height: 200px;
  }

  .confirm-popup-middle-height {
    height: 280px;
  }

  .confirm-popup-common-img-small {
    height: 100px;
  }

  .confirm-popup-title-font {
    font-size: 18px;
  }

  .confirm-popup-small-font {
    font-size: 14px;
  }
}