@charset "UTF-8";
* {
  font-family: 微軟正黑體, monospace; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative; }

body {
  background: url("../../img/magicImg/background.png") no-repeat center center;
  background-size: cover; }

button, a {
  cursor: pointer;
  outline: none; }

.highlight {
  color: #FFFD30;
  text-shadow: 0 0 3px rgba(255, 253, 48, 0.5); }

#section_titlelist .container-fluid .row .elogo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  padding: 0;
  padding-top: 1%; }
  #section_titlelist .container-fluid .row .elogo a {
    padding-left: 5%; }
  #section_titlelist .container-fluid .row .elogo img {
    width: 90%;
    height: auto; }

#section_titlelist .container-fluid .row .title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; }
  #section_titlelist .container-fluid .row .title img {
    width: 80%;
    height: auto;
    padding-bottom: 2%; }

#section_titlelist .container-fluid .row .person_info {
  z-index: 1000;
  padding: 0px; }
  #section_titlelist .container-fluid .row .person_info .row.person_bg {
    height: 65%;
    background: url("../../img/magicImg/person_info.png") no-repeat;
    background-size: 100% auto;
    margin: 0;
    margin-top: 5px;
    margin-right: 5px; }
    #section_titlelist .container-fluid .row .person_info .row.person_bg .col-4 {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center; }
      #section_titlelist .container-fluid .row .person_info .row.person_bg .col-4 img {
        width: 90%;
        height: auto; }
    #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center; }
      #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row {
        width: 100%;
        height: 65%; }
        #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-8 .row {
          height: 100%;
          margin: 0; }
          #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-8 .row .col-name {
            height: 50%; }
          #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-8 .row .col-coins {
            height: 53%; }
          #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-8 .row .col-12 {
            padding: 0;
            display: flex;
            align-items: center; }
            #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-8 .row .col-12 .user_name {
              font-size: 12px;
              color: #fff; }
            #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-8 .row .col-12 .row {
              margin: 0; }
              #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-8 .row .col-12 .row .col-6 {
                padding: 0; }
                #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-8 .row .col-12 .row .col-6 .row .col-12 #ecoin, #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-8 .row .col-12 .row .col-6 .row .col-12 #diamond {
                  font-size: 12px;
                  color: #fff;
                  text-shadow: 0 0 6px #333; }
        #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-4 .row {
          height: 100%;
          margin: 0; }
          #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-4 .row .col-bank {
            height: 64%;
            padding: 0;
            padding-left: 10%; }
            #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-4 .row .col-bank .bank {
              height: 100%;
              width: auto; }
              #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-4 .row .col-bank .bank img {
                height: 100%;
                width: auto; }
                #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-4 .row .col-bank .bank img:hover {
                  -webkit-filter: saturate(1.6);
                  cursor: pointer; }
          #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-4 .row .col-logout {
            height: 36%;
            padding: 0;
            position: relative; }
            #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-4 .row .col-logout img {
              height: 100%;
              width: auto;
              vertical-align: baseline; }
              #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-4 .row .col-logout img:hover {
                -webkit-filter: saturate(1.6);
                cursor: pointer; }
          #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-4 .row .col-login {
            height: 85%;
            padding: 0;
            padding-top: 15%;
            padding-left: 10%; }
            #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-4 .row .col-login .login {
              height: 100%;
              width: auto; }
              #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-4 .row .col-login .login:hover {
                -webkit-filter: saturate(1.6);
                cursor: pointer; }

#section_middle_part, #section_novice {
  position: relative;
  overflow: hidden; }
  #section_middle_part .container-fluid .row .gift_list, #section_novice .container-fluid .row .gift_list {
    padding: 0 5%;
    z-index: 1000;
    background-image: url(../../img/magicImg/paper.png);
    background-size: 85% auto;
    background-position: center 0;
    background-repeat: no-repeat; }
    #section_middle_part .container-fluid .row .gift_list .row_gift_pic, #section_novice .container-fluid .row .gift_list .row_gift_pic {
      height: 35%; }
      #section_middle_part .container-fluid .row .gift_list .row_gift_pic .col-3, #section_novice .container-fluid .row .gift_list .row_gift_pic .col-3 {
        cursor: pointer;
        padding: 5px; }
        #section_middle_part .container-fluid .row .gift_list .row_gift_pic .col-3 img, #section_novice .container-fluid .row .gift_list .row_gift_pic .col-3 img {
          width: 40%; }
      #section_middle_part .container-fluid .row .gift_list .row_gift_pic .previous_btn, #section_novice .container-fluid .row .gift_list .row_gift_pic .previous_btn {
        display: flex;
        align-items: center;
        justify-content: flex-end; }
      #section_middle_part .container-fluid .row .gift_list .row_gift_pic .next_btn, #section_novice .container-fluid .row .gift_list .row_gift_pic .next_btn {
        display: flex;
        align-items: center;
        justify-content: flex-start; }
      #section_middle_part .container-fluid .row .gift_list .row_gift_pic .col-6, #section_novice .container-fluid .row .gift_list .row_gift_pic .col-6 {
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        padding: 0px 1%; }
        #section_middle_part .container-fluid .row .gift_list .row_gift_pic .col-6 .gift_photo, #section_novice .container-fluid .row .gift_list .row_gift_pic .col-6 .gift_photo {
          width: 100%; }
    #section_middle_part .container-fluid .row .gift_list .row_gift_content, #section_novice .container-fluid .row .gift_list .row_gift_content {
      padding: 0 10%;
      text-align: center;
      font-size: 15px;
      color: #41210e; }
      #section_middle_part .container-fluid .row .gift_list .row_gift_content .award_title, #section_novice .container-fluid .row .gift_list .row_gift_content .award_title {
        padding: 2% 0;
        font-weight: 700; }
      #section_middle_part .container-fluid .row .gift_list .row_gift_content .col-12, #section_middle_part .container-fluid .row .gift_list .row_gift_content .col-4, #section_middle_part .container-fluid .row .gift_list .row_gift_content .col-6, #section_middle_part .container-fluid .row .gift_list .row_gift_content .col-8, #section_novice .container-fluid .row .gift_list .row_gift_content .col-12, #section_novice .container-fluid .row .gift_list .row_gift_content .col-4, #section_novice .container-fluid .row .gift_list .row_gift_content .col-6, #section_novice .container-fluid .row .gift_list .row_gift_content .col-8 {
        padding: 0; }
      #section_middle_part .container-fluid .row .gift_list .row_gift_content .award_stitle, #section_novice .container-fluid .row .gift_list .row_gift_content .award_stitle {
        text-align: right; }
      #section_middle_part .container-fluid .row .gift_list .row_gift_content .award_scontnet, #section_novice .container-fluid .row .gift_list .row_gift_content .award_scontnet {
        text-align: left; }
        #section_middle_part .container-fluid .row .gift_list .row_gift_content .award_scontnet .award_stock, #section_novice .container-fluid .row .gift_list .row_gift_content .award_scontnet .award_stock {
          color: #ff1616;
          text-shadow: 0px 0px 12px #fff8e8; }
      #section_middle_part .container-fluid .row .gift_list .row_gift_content .award_note, #section_novice .container-fluid .row .gift_list .row_gift_content .award_note {
        padding-left: 5%;
        margin-top: 3%;
        text-align: left;
        font-size: 12px; }
  #section_middle_part .container-fluid .row .potion_box, #section_novice .container-fluid .row .potion_box {
    background-image: url("../../img/magicImg/potion_box.png");
    height: 400px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 0;
    display: flex;
    justify-content: center;
    padding-top: 5%; }
    #section_middle_part .container-fluid .row .potion_box .row, #section_novice .container-fluid .row .potion_box .row {
      margin: 0;
      width: 90%; }
      #section_middle_part .container-fluid .row .potion_box .row .col-3, #section_novice .container-fluid .row .potion_box .row .col-3 {
        height: 200px;
        padding: 6px; }
        #section_middle_part .container-fluid .row .potion_box .row .col-3 .mix_upgrade .row, #section_novice .container-fluid .row .potion_box .row .col-3 .mix_upgrade .row {
          margin: 0;
          width: 100%; }
          #section_middle_part .container-fluid .row .potion_box .row .col-3 .mix_upgrade .row .col-6, #section_novice .container-fluid .row .potion_box .row .col-3 .mix_upgrade .row .col-6 {
            padding: 0;
            padding-top: 10px;
            height: 100%;
            width: auto; }
        #section_middle_part .container-fluid .row .potion_box .row .col-3 .col, #section_novice .container-fluid .row .potion_box .row .col-3 .col {
          padding: 0; }
          #section_middle_part .container-fluid .row .potion_box .row .col-3 .col img, #section_novice .container-fluid .row .potion_box .row .col-3 .col img {
            width: 100%;
            height: auto; }
        #section_middle_part .container-fluid .row .potion_box .row .col-3 .now_finish, #section_middle_part .container-fluid .row .potion_box .row .col-3 .mix_finish, #section_novice .container-fluid .row .potion_box .row .col-3 .now_finish, #section_novice .container-fluid .row .potion_box .row .col-3 .mix_finish {
          padding-top: 10px; }
        #section_middle_part .container-fluid .row .potion_box .row .col-3 .potion_colum, #section_novice .container-fluid .row .potion_box .row .col-3 .potion_colum {
          padding: 0;
          position: relative; }
          #section_middle_part .container-fluid .row .potion_box .row .col-3 .potion_colum .potion, #section_novice .container-fluid .row .potion_box .row .col-3 .potion_colum .potion {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0%; }
          #section_middle_part .container-fluid .row .potion_box .row .col-3 .potion_colum .potion_finish, #section_novice .container-fluid .row .potion_box .row .col-3 .potion_colum .potion_finish {
            filter: drop-shadow(0px 0px 3px rgba(179, 248, 152, 0.9)); }
          #section_middle_part .container-fluid .row .potion_box .row .col-3 .potion_colum .count_time, #section_novice .container-fluid .row .potion_box .row .col-3 .potion_colum .count_time {
            width: 100%;
            text-align: center;
            color: white;
            font-size: 16px;
            background: rgba(51, 51, 51, 0.75);
            position: absolute;
            top: 50%;
            right: 0;
            letter-spacing: 1px;
            font-weight: 500;
            transform: translateY(-50%);
            text-shadow: 0px 3px 8px #000;
            line-height: 35px;
            white-space: nowrap; }
  #section_middle_part .container-fluid .row .menu, #section_novice .container-fluid .row .menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: flex-end; }
    #section_middle_part .container-fluid .row .menu a, #section_novice .container-fluid .row .menu a {
      width: 40%;
      text-align: right;
      margin-right: -15px;
      transition: 0.3s; }
      #section_middle_part .container-fluid .row .menu a:hover, #section_novice .container-fluid .row .menu a:hover {
        margin-right: 0px; }
      #section_middle_part .container-fluid .row .menu a img, #section_novice .container-fluid .row .menu a img {
        width: 100%;
        height: auto; }
  #section_middle_part .col.mix_upgrade, #section_middle_part .col.now_finish, #section_middle_part .col.mix_finish img, #section_novice .col.mix_upgrade, #section_novice .col.now_finish, #section_novice .col.mix_finish img {
    cursor: pointer; }

.confirm_message_box {
  border-top: solid 3px white;
  border-bottom: solid 3px white; }
  .confirm_message_box .common-font {
    font-size: 19px; }
  .confirm_message_box .left-align {
    text-align: left; }

.tutorial_message_box.row {
  border-top: solid 3px white;
  height: 200px; }
  .tutorial_message_box.row p {
    text-align: left;
    font-size: 20px; }
  .tutorial_message_box.row .col-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative; }
  .tutorial_message_box.row .col-9 {
    margin-bottom: 20px; }

.confirm_message_box p, .tutorial_message_box p {
  margin: 0;
  color: white;
  letter-spacing: 2px;
  line-height: 34px;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.5); }

.confirm_message_box .btn_iknow, .tutorial_message_box .btn_iknow {
  cursor: pointer;
  background-image: linear-gradient(-180deg, #D7B060 0%, #CD9514 51%, #D7B060 100%);
  border: 3px solid #EFD08D;
  box-shadow: 0 4px 10px 0 rgba(152, 90, 16, 0.5);
  border-radius: 10px;
  font-size: 25px;
  color: #FFFFFF;
  letter-spacing: 3px;
  text-align: center;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  outline: none; }
  .confirm_message_box .btn_iknow:hover, .tutorial_message_box .btn_iknow:hover {
    text-decoration: none;
    color: #f9e5ac; }

.confirm_message_box .message_box_btn_style, .tutorial_message_box .message_box_btn_style {
  font-size: 20px;
  margin-right: 5px;
  padding: 0 24px; }

.confirm_message_box .tutorial_message_box_btn, .tutorial_message_box .tutorial_message_box_btn {
  padding: 10px 20px;
  margin-bottom: 20px; }

.my_treasure_message_box {
  border: 5px solid #887868; }
  .my_treasure_message_box p {
    margin: 0;
    color: white;
    letter-spacing: 2px;
    line-height: 34px;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5); }
  .my_treasure_message_box .message_box_btn_style {
    font-size: 20px;
    margin-right: 5px;
    padding: 0 24px; }
  .my_treasure_message_box .text_color {
    color: #452E0A; }
  .my_treasure_message_box .btn {
    color: white;
    background-color: #6E5537;
    border: 3px solid #4A382A;
    outline: none; }

#near_activity {
  z-index: 1000;
  position: absolute;
  bottom: 0%;
  left: 7%;
  width: 11%;
  height: auto; }
  #near_activity .cat img {
    width: 100%; }
  #near_activity .cat .cat_title {
    position: absolute;
    top: 57%;
    right: 11%;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 23px;
    text-shadow: 0px 0px 15px black; }
    #near_activity .cat .cat_title:hover {
      cursor: pointer;
      color: #f4eaff; }

#my_treasure {
  z-index: 1000;
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 15%;
  height: auto; }
  #my_treasure .book {
    position: relative; }
    #my_treasure .book img {
      width: 100%; }
    #my_treasure .book .book_title {
      background-color: #2d933b;
      border-radius: 50%;
      position: absolute;
      top: 24%;
      right: 4%;
      color: #fff;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 2px;
      line-height: 23px;
      padding: 12px; }
      #my_treasure .book .book_title:hover {
        cursor: pointer;
        color: #efffd6; }

.function_description {
  position: absolute;
  top: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px; }
  .function_description .finish_novice_btn {
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(-180deg, #D7B060 0%, #CD9514 51%, #D7B060 100%);
    border: 5px solid #EFD08D;
    box-shadow: 0 4px 10px 0 rgba(152, 90, 16, 0.8);
    border-radius: 10px;
    font-size: 32px;
    color: #FFFFFF;
    letter-spacing: 3px;
    text-align: center;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.5); }
  .function_description .explain_gift {
    position: fixed;
    bottom: 32%;
    left: 3%;
    width: 18%;
    height: 43%;
    border: 3px solid #fff; }
  .function_description .content_gift {
    position: fixed;
    display: block;
    bottom: 55%;
    left: 22%;
    width: 17%; }
  .function_description .explain_cat {
    position: fixed;
    bottom: 0%;
    left: 6%;
    width: 13%;
    height: 28%;
    border: 3px solid #fff; }
  .function_description .content_cat {
    position: absolute;
    display: block;
    bottom: 7%;
    left: 20%;
    width: 16%; }
  .function_description .explain_treasure {
    position: fixed;
    bottom: 9%;
    right: 4%;
    width: 15%;
    height: 39%;
    border: 3px solid #fff; }
  .function_description .content_treasure {
    position: absolute;
    display: block;
    bottom: 23%;
    right: 20%;
    width: 16%; }
  .function_description .explain_person_info {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 26%;
    height: 20%;
    border: 3px solid #fff; }
  .function_description .content_person_info {
    position: absolute;
    display: block;
    top: 7%;
    right: 27%; }

#login_dialog {
  z-index: 1500;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.7);
  top: 0; }
  #login_dialog .login_potion_box {
    z-index: 1600;
    position: fixed;
    left: 50%;
    top: 52%;
    width: 55%;
    height: 50%;
    background-image: url("../../img/magicImg/login_potion_box.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 3%; }
    #login_dialog .login_potion_box .row {
      width: 100%;
      text-align: center;
      padding-top: 4%; }
      #login_dialog .login_potion_box .row .col-3 {
        padding: 0px 10px; }
        #login_dialog .login_potion_box .row .col-3 a img:hover {
          -webkit-filter: saturate(1.6); }
      #login_dialog .login_potion_box .row img {
        width: 100%; }
    #login_dialog .login_potion_box .row_nothanks_btn {
      padding-top: 4%; }
      #login_dialog .login_potion_box .row_nothanks_btn img {
        width: 50%;
        height: auto; }
        #login_dialog .login_potion_box .row_nothanks_btn img:hover {
          -webkit-filter: saturate(1.5) contrast(1.2) brightness(1.1);
          cursor: pointer; }

@media screen and (max-width: 1200px) {
  #section_titlelist .container-fluid .row .title img {
    width: 90%;
    height: auto;
    padding-bottom: 0%; }
  #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-8 .row .col-12 .user_name {
    -webkit-transform-origin: left;
    -webkit-transform: scale(0.9);
    white-space: nowrap; }
  #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-8 .row .col-12 .row .col-6 .row .col-12 #ecoin, #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-8 .row .col-12 .row .col-6 .row .col-12 #diamond {
    -webkit-transform-origin: left;
    -webkit-transform: scale(0.9);
    white-space: nowrap; }
  #section_middle_part, #section_novice {
    padding-top: 8%; }
    #section_middle_part .container-fluid .row .gift_list, #section_novice .container-fluid .row .gift_list {
      padding: 0 2%;
      background-size: 90% auto; }
      #section_middle_part .container-fluid .row .gift_list .row_gift_pic, #section_novice .container-fluid .row .gift_list .row_gift_pic {
        height: 30%; }
        #section_middle_part .container-fluid .row .gift_list .row_gift_pic .col-3, #section_novice .container-fluid .row .gift_list .row_gift_pic .col-3 {
          cursor: pointer;
          padding: 5px; }
          #section_middle_part .container-fluid .row .gift_list .row_gift_pic .col-3 img, #section_novice .container-fluid .row .gift_list .row_gift_pic .col-3 img {
            width: 30%; }
        #section_middle_part .container-fluid .row .gift_list .row_gift_pic .previous_btn, #section_novice .container-fluid .row .gift_list .row_gift_pic .previous_btn {
          display: flex;
          align-items: center;
          justify-content: flex-end; }
        #section_middle_part .container-fluid .row .gift_list .row_gift_pic .next_btn, #section_novice .container-fluid .row .gift_list .row_gift_pic .next_btn {
          display: flex;
          align-items: center;
          justify-content: flex-start; }
        #section_middle_part .container-fluid .row .gift_list .row_gift_pic .col-6, #section_novice .container-fluid .row .gift_list .row_gift_pic .col-6 {
          display: flex;
          justify-content: center;
          align-items: center;
          align-items: center;
          padding: 0px 1%; }
          #section_middle_part .container-fluid .row .gift_list .row_gift_pic .col-6 .gift_photo, #section_novice .container-fluid .row .gift_list .row_gift_pic .col-6 .gift_photo {
            width: 100%; }
      #section_middle_part .container-fluid .row .gift_list .row_gift_content, #section_novice .container-fluid .row .gift_list .row_gift_content {
        font-size: 13px; }
        #section_middle_part .container-fluid .row .gift_list .row_gift_content .award_note, #section_novice .container-fluid .row .gift_list .row_gift_content .award_note {
          margin-right: 5%;
          margin-top: 0%;
          -webkit-transform: scale(0.85); }
    #section_middle_part .container-fluid .row .potion_box .row .col-3 .potion_colum .count_time, #section_novice .container-fluid .row .potion_box .row .col-3 .potion_colum .count_time {
      font-size: 13px;
      line-height: 30px; }
  #my_treasure {
    width: 18%; }
    #my_treasure .book .book_title {
      line-height: 20px;
      top: 18%;
      right: 0%;
      font-size: 18px;
      padding: 15px; }
  #near_activity {
    width: 16%; }
    #near_activity .cat .cat_title {
      top: 56%;
      right: 12%;
      font-size: 18px;
      line-height: 22px; }
  .function_description .explain_gift {
    bottom: 38%;
    left: 1%;
    width: 22%;
    height: 35%; }
  .function_description .content_gift {
    bottom: 60%;
    left: 25%;
    width: 25%; }
  .function_description .explain_cat {
    width: 18%;
    height: 26%; }
  .function_description .content_cat {
    bottom: 10%;
    width: 23%;
    left: 26%; }
  .function_description .explain_treasure {
    width: 18%;
    height: 31%;
    right: 4%; }
  .function_description .content_treasure {
    width: 22%;
    right: 23%;
    bottom: 24%; }
  .function_description .explain_person_info {
    width: 26%;
    height: 13%; }
  .function_description .content_person_info {
    top: 3%; }
  #login_dialog .login_potion_box {
    top: 45%; } }

@media screen and (max-width: 820px) {
  #section_titlelist {
    height: 28%; }
    #section_titlelist .container-fluid {
      height: 100%; }
      #section_titlelist .container-fluid .row .title {
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: flex-start; }
      #section_titlelist .container-fluid .row .person_info .row.person_bg {
        height: 70%; }
  #section_middle_part, #section_novice {
    padding-top: 0%; }
    #section_middle_part .container-fluid .row .gift_list, #section_novice .container-fluid .row .gift_list {
      padding: 0 2%;
      background-size: 80% auto; }
      #section_middle_part .container-fluid .row .gift_list .row_gift_pic, #section_novice .container-fluid .row .gift_list .row_gift_pic {
        height: 20%; }
        #section_middle_part .container-fluid .row .gift_list .row_gift_pic .col-3 img, #section_novice .container-fluid .row .gift_list .row_gift_pic .col-3 img {
          width: 25%; }
      #section_middle_part .container-fluid .row .gift_list .row_gift_content, #section_novice .container-fluid .row .gift_list .row_gift_content {
        font-size: 13px;
        -webkit-transform: scale(0.7);
        -webkit-transform-origin: top; }
        #section_middle_part .container-fluid .row .gift_list .row_gift_content .award_note, #section_novice .container-fluid .row .gift_list .row_gift_content .award_note {
          padding-left: 10%;
          margin-top: 0%;
          -webkit-transform: scale(0.8);
          -webkit-transform-origin: left;
          white-space: nowrap; }
    #section_middle_part .container-fluid .row .potion_box .row .col-3 .potion_colum .count_time, #section_novice .container-fluid .row .potion_box .row .col-3 .potion_colum .count_time {
      font-size: 12px;
      white-space: nowrap;
      line-height: 25px;
      -webkit-transform-origin: center;
      -webkit-transform: scale(0.9) translateY(-40%);
      letter-spacing: 0px; }
    #section_middle_part .container-fluid .row .menu a, #section_novice .container-fluid .row .menu a {
      width: 40%;
      height: 5.2%;
      text-align: right;
      margin-right: -15px;
      transition: 0.3s; }
      #section_middle_part .container-fluid .row .menu a:hover, #section_novice .container-fluid .row .menu a:hover {
        margin-right: 0px; }
      #section_middle_part .container-fluid .row .menu a img, #section_novice .container-fluid .row .menu a img {
        width: 100%;
        height: auto; }
  #my_treasure {
    bottom: 2%; }
    #my_treasure .book .book_title {
      line-height: 15px;
      font-size: 12px;
      padding: 6px; }
  #near_activity {
    left: 9%;
    width: 11%; }
    #near_activity .cat .cat_title {
      top: 53%;
      right: 10%;
      font-size: 13px;
      line-height: 17px; }
  #login_dialog .login_potion_box {
    top: 48%; }
  .function_description {
    font-size: 12px; }
    .function_description .finish_novice_btn {
      padding: 8px;
      position: fixed;
      border: 3px solid #EFD08D;
      font-size: 20px;
      letter-spacing: 2px; }
    .function_description .explain_gift {
      bottom: 28%;
      left: 2%;
      width: 20%;
      height: 47%; }
    .function_description .content_gift {
      left: 23%;
      bottom: 57%;
      left: 24%; }
    .function_description .explain_cat {
      width: 13%;
      height: 29%;
      left: 8%; }
    .function_description .content_cat {
      bottom: 7%;
      width: 23%;
      left: 23%; }
    .function_description .explain_treasure {
      width: 18%;
      height: 47%;
      right: 4%;
      bottom: 3%; }
    .function_description .content_treasure {
      bottom: 12%;
      right: 23%; }
    .function_description .explain_person_info {
      width: 35%;
      height: 28%; }
    .function_description .content_person_info {
      top: 3%;
      right: 36%; } }

@media screen and (max-width: 768px) {
  #section_titlelist {
    position: relative;
    height: 30%; }
    #section_titlelist .container-fluid {
      height: 100%; }
      #section_titlelist .container-fluid .row {
        height: 100%; }
        #section_titlelist .container-fluid .row .title {
          padding-top: 2%;
          align-items: flex-start; }
        #section_titlelist .container-fluid .row .person_info .row.person_bg {
          height: 72%; }
          #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-8 .row .col-12 .user_name {
            transform: translateX(-5px);
            left: 0;
            padding: 0;
            -webkit-transform-origin: left;
            -webkit-transform: scale(0.8);
            white-space: nowrap; }
          #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-8 .row .col-12 .row .col-6 .row .col-12 {
            height: 50%; }
  #section_middle_part, #section_novice {
    padding-top: 0%; }
    #section_middle_part .container-fluid .row .gift_list, #section_novice .container-fluid .row .gift_list {
      padding: 0 2%;
      background-size: 88% auto; }
      #section_middle_part .container-fluid .row .gift_list .row_gift_pic, #section_novice .container-fluid .row .gift_list .row_gift_pic {
        height: 15%; }
        #section_middle_part .container-fluid .row .gift_list .row_gift_pic .col-3, #section_novice .container-fluid .row .gift_list .row_gift_pic .col-3 {
          cursor: pointer;
          padding: 5px; }
          #section_middle_part .container-fluid .row .gift_list .row_gift_pic .col-3 img, #section_novice .container-fluid .row .gift_list .row_gift_pic .col-3 img {
            width: 25%; }
        #section_middle_part .container-fluid .row .gift_list .row_gift_pic .previous_btn, #section_novice .container-fluid .row .gift_list .row_gift_pic .previous_btn {
          display: flex;
          align-items: center;
          justify-content: flex-end; }
        #section_middle_part .container-fluid .row .gift_list .row_gift_pic .next_btn, #section_novice .container-fluid .row .gift_list .row_gift_pic .next_btn {
          display: flex;
          align-items: center;
          justify-content: flex-start; }
        #section_middle_part .container-fluid .row .gift_list .row_gift_pic .col-6, #section_novice .container-fluid .row .gift_list .row_gift_pic .col-6 {
          display: flex;
          justify-content: center;
          align-items: center;
          align-items: center;
          padding: 0px 1%; }
          #section_middle_part .container-fluid .row .gift_list .row_gift_pic .col-6 .gift_photo, #section_novice .container-fluid .row .gift_list .row_gift_pic .col-6 .gift_photo {
            width: 100%; }
      #section_middle_part .container-fluid .row .gift_list .row_gift_content, #section_novice .container-fluid .row .gift_list .row_gift_content {
        font-size: 13px;
        -webkit-transform: scale(0.7);
        -webkit-transform-origin: top; }
        #section_middle_part .container-fluid .row .gift_list .row_gift_content .award_note, #section_novice .container-fluid .row .gift_list .row_gift_content .award_note {
          padding-left: 10%;
          margin-top: 0%;
          -webkit-transform: scale(0.7);
          -webkit-transform-origin: left;
          white-space: nowrap; }
    #section_middle_part .container-fluid .row .potion_box .row .col-3 .potion_colum .count_time, #section_novice .container-fluid .row .potion_box .row .col-3 .potion_colum .count_time {
      -webkit-text-stroke: 0.2px #000;
      font-size: 12px;
      white-space: nowrap;
      line-height: 25px;
      -webkit-transform-origin: left top;
      -webkit-transform: scale(0.7) translateY(-40%);
      letter-spacing: 0px;
      background: transparent;
      text-shadow: 0px 2px 3px #000;
      padding-left: 8%;
      filter: drop-shadow(2px 0px 3px #000); }
    #section_middle_part .container-fluid .row .menu, #section_novice .container-fluid .row .menu {
      display: flex;
      flex-direction: column;
      padding: 0;
      align-items: flex-end; }
      #section_middle_part .container-fluid .row .menu a, #section_novice .container-fluid .row .menu a {
        width: 40%;
        height: 4.3%;
        text-align: right;
        margin-right: -15px;
        transition: 0.3s; }
        #section_middle_part .container-fluid .row .menu a:hover, #section_novice .container-fluid .row .menu a:hover {
          margin-right: 0px; }
        #section_middle_part .container-fluid .row .menu a img, #section_novice .container-fluid .row .menu a img {
          width: 100%;
          height: auto; }
  #my_treasure .book .book_title {
    line-height: 15px;
    font-size: 12px;
    padding: 6px; }
  #near_activity {
    left: 9%;
    width: 13%; }
    #near_activity .cat .cat_title {
      top: 53%;
      right: 10%;
      font-size: 13px;
      line-height: 17px; }
  #login_dialog .login_potion_box {
    top: 48%; }
  .function_description {
    font-size: 12px; }
    .function_description .finish_novice_btn {
      padding: 8px;
      position: fixed;
      border: 3px solid #EFD08D;
      font-size: 20px;
      letter-spacing: 2px;
      cursor: pointer; }
    .function_description .explain_gift {
      bottom: 32%;
      left: 1%;
      width: 22%;
      height: 41%; }
    .function_description .content_gift {
      bottom: 57%; }
    .function_description .explain_cat {
      width: 16%;
      height: 29%;
      left: 8%; }
    .function_description .content_cat {
      bottom: 7%;
      width: 23%;
      left: 26%; }
    .function_description .explain_treasure {
      width: 18%;
      height: 41%;
      right: 4%; }
    .function_description .content_treasure {
      bottom: 12%; }
    .function_description .explain_person_info {
      width: 35%;
      height: 24%; }
    .function_description .content_person_info {
      top: 3%;
      right: 36%; } }

@media screen and (max-width: 570px) {
  #section_titlelist {
    position: relative;
    height: 30%; }
    #section_titlelist .container-fluid .row .person_info .row.person_bg {
      height: 72%; }
      #section_titlelist .container-fluid .row .person_info .row.person_bg .col-8 .row .col-8 .row .col-12 .user_name {
        -webkit-transform: scale(0.7);
        white-space: nowrap; }
  #section_middle_part, #section_novice {
    padding-top: 0%; }
    #section_middle_part .container-fluid .row .gift_list, #section_novice .container-fluid .row .gift_list {
      padding: 0 2%;
      background-size: 95% auto; }
      #section_middle_part .container-fluid .row .gift_list .row_gift_pic, #section_novice .container-fluid .row .gift_list .row_gift_pic {
        height: 15%; }
        #section_middle_part .container-fluid .row .gift_list .row_gift_pic .col-3, #section_novice .container-fluid .row .gift_list .row_gift_pic .col-3 {
          cursor: pointer;
          padding: 1px; }
          #section_middle_part .container-fluid .row .gift_list .row_gift_pic .col-3 img, #section_novice .container-fluid .row .gift_list .row_gift_pic .col-3 img {
            width: 22%; }
        #section_middle_part .container-fluid .row .gift_list .row_gift_pic .col-6 .gift_photo, #section_novice .container-fluid .row .gift_list .row_gift_pic .col-6 .gift_photo {
          width: 90%; }
      #section_middle_part .container-fluid .row .gift_list .row_gift_content, #section_novice .container-fluid .row .gift_list .row_gift_content {
        font-size: 12px; }
        #section_middle_part .container-fluid .row .gift_list .row_gift_content .award_note, #section_novice .container-fluid .row .gift_list .row_gift_content .award_note {
          padding-left: 0%;
          margin-top: 0%; }
    #section_middle_part .container-fluid .row .potion_box .row .col-3 .potion_colum .count_time, #section_novice .container-fluid .row .potion_box .row .col-3 .potion_colum .count_time {
      -webkit-transform: scale(0.6) translateY(-40%); }
    #section_middle_part .container-fluid .row .menu a, #section_novice .container-fluid .row .menu a {
      height: 3.8%; }
  .function_description {
    font-size: 12px; }
    .function_description .finish_novice_btn {
      padding: 8px;
      position: fixed;
      border: 3px solid #EFD08D;
      font-size: 20px;
      letter-spacing: 2px; }
    .function_description .explain_gift {
      bottom: 28%;
      left: 1%;
      width: 22%;
      height: 45%; }
    .function_description .content_gift {
      bottom: 57%;
      -webkit-transform: scale(0.9);
      white-space: nowrap; }
    .function_description .explain_cat {
      width: 16%;
      height: 29%;
      left: 8%; }
    .function_description .content_cat {
      bottom: 7%;
      width: 23%;
      left: 25%;
      -webkit-transform: scale(0.9); }
    .function_description .explain_treasure {
      width: 18%;
      height: 41%;
      right: 4%; }
    .function_description .content_treasure {
      right: 22%;
      bottom: 12%;
      -webkit-transform: scale(0.9); }
    .function_description .explain_person_info {
      width: 35%;
      height: 24%; }
    .function_description .content_person_info {
      top: 3%;
      right: 36%;
      -webkit-transform: scale(0.9); } }

.upgrade_animation {
  animation: upgrade 2s alternate; }

.finish_animation {
  animation: finish 1.5s infinite; }

.press_animation {
  animation: press_upgrade 1s infinite; }

@keyframes finish {
  0% {
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.8)); }
  50% {
    filter: drop-shadow(0px 0px 8px white); }
  100% {
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.8)); } }

@keyframes upgrade {
  0% {
    filter: blur(0px) brightness(1); }
  30% {
    filter: blur(0px) brightness(1.2); }
  60% {
    filter: blur(0px) brightness(1); }
  100% {
    filter: blur(16px) brightness(2.5);
    opacity: 1; } }

@keyframes press_upgrade {
  0% {
    filter: drop-shadow(0px 0px 15px #d7ffaf) brightness(1.3); }
  25% {
    filter: drop-shadow(0px 0px 5px rgba(215, 255, 175, 0.8)) brightness(1.1); }
  50% {
    filter: drop-shadow(0px 0px 15px #d7ffaf) brightness(1.3); }
  75% {
    filter: drop-shadow(0px 0px 5px rgba(215, 255, 175, 0.8)) brightness(1.1); }
  100% {
    filter: drop-shadow(0px 0px 15px #d7ffaf) brightness(1.3); } }
